<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="first"></ion-menu-button>
    </ion-buttons>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>


  
  <ion-content>
    <ion-toolbar color="tertiary">
      <ion-title>Nebi el despertar de un héroe</ion-title>
    </ion-toolbar>
    <ion-card color="primary">
      <ion-card-header>
        <ion-card-title>Historia del Juego</ion-card-title>
      </ion-card-header>
      <img src="/assets/img/historia.png" /> 
      <ion-card-content>
        <p>Nebi, el valiente gato, vive pacíficamente con su dueño. Sin embargo, un día, Queso, una malvada rata, secuestra a Ani y la lleva a un peligroso mundo. Para salvarla, Nebi debe luchar contra enemigos oscuros y saltar obstáculos. A lo largo de su viaje, descubrirá secretos y objetos que serán una pista para encontrar a Ani, pondrá a prueba su valentía y empujará sus límites.</p>
        <p>¿Será capaz de rescatar a Ani y derrotar a Queso? Solo su valentía decidirá.</p>
      </ion-card-content>
    </ion-card>
  </ion-content>
  
  

