.titulo-centrado {
    text-align: center;
  }
  .card-personalizado {
    background-color: #214555;
    color: white;
    text-align: center;
  }
  .card-personalizado2 {
    background-color: #30155c; 
    color: white; 
    text-align: center;
  }