
.icono {
    width: 30px ;
    height: 30px ;
}
.titulo-grande {
    font-size: 48px;
  }
  
  .contenido-grande {
    font-size: 30px;
  }
  .label-grande {
    font-size: 25px; /* Ajusta el tamaño según necesites */
  }
  